<a class="button button-icon icon-right icon ion-android-close"
	style="float: right; top: -10px;" ng-click="close2()"></a>
<div class="row">
	<div class="col">
		<p style="text-align: center;">
			Reject Reason :<br>
	</div>
</div>
<div class="row">
	<div class="col">
		<span style="float: left;"><input type="radio"
			ng-change="setrefuseType(value)" ng-model="value" value="RF"></span><span
			style="float: left; padding-left: 3px;">Refused </span></br>
	</div>
</div>
<div class="row">
	<div class="col">
		<span style="float: left;"><input type="radio"
			ng-change="setrefuseType(value)" ng-model="value" value="UA"></span>
		<span style="float: left; padding-left: 3px;"> Not Available </span></br>
	</div>
</div>
<div class="row">
	<div class="col">
		<span style="float: left;"><input type="radio"
			ng-change="setrefuseType(value)" ng-model="value" value="DM"></span><span
			style="float: left; padding-left: 3px;"> Damaged </span>
	</div>
</div>
<div class="row">
	<div class="col col-center" style="text-align: center;">
		<a href="" ng-click="submitRefuse()"><img alt=""
			style="max-width: 25px; max-height: 25px;" src="img/acceptO.png"></a>
	</div>
</div>