<ion-view view-title="Account"> <ion-content has-bouncing="true"> <ion-list>
<a class="item" href="#/tab/user-information"> <span class="reportid">{{'User_Information' | translate}}</span><span class="reportarwid"><img class="reportarw" src="img/reportV2_15.png"></span></a>
<a class="item" href="#/tab/account-news"> <span class="reportid">{{'News' | translate}}</span><span class="reportarwid"><img class="reportarw" src="img/reportV2_15.png"></span></a> 
<a class="item" href="#/tab/account-termsofuse"> <span class="reportid">{{'Terms_of_Use' | translate}}</span><span class="reportarwid"><img class="reportarw" src="img/reportV2_15.png"></span></a> 
<a class="item" href="#/tab/account-faq"> <span class="reportid">{{'FAQ' | translate}}</span><span class="reportarwid"><img class="reportarw" src="img/reportV2_15.png"></span></a> 
<a class="item" href="#/tab/account-settings"> <span class="reportid">{{'Settings' | translate}}</span><span class="reportarwid"><img class="reportarw" src="img/reportV2_15.png"></span></a> 
<a class="item" href="#/tab/account-contactUs"> <span class="reportid">{{'Contact_Us' | translate}}</span><span class="reportarwid"><img class="reportarw" src="img/reportV2_15.png"></span></a> 
<a class="item" href="#/tab/account-aboutUs"> <span class="reportid">{{'About_Us' | translate}}</span><span class="reportarwid"><img class="reportarw" src="img/reportV2_15.png"></span></a> 
<a class="item" href="#/tab/account-version"> <span class="reportid">{{'Version' | translate}}</span><span class="reportarwid"><img class="reportarw" src="img/reportV2_15.png"></span></a> 
</ion-list> </ion-content> </ion-view>
