<ion-view view-title="Terms & Conditions">
<ion-content class="padding"> 
<a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="myGoBack()">Back</a>
<!DOCTYPE html><br>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        a:link {
            color: #0098ff;
            text-decoration: none;
            font-weight: bold;
        }


        body {
            background: #ffffff;
            color: #757575;
            font-family: Myriad Pro, Lucida Sans, Segoe UI, Calibri, sans serif;
            font-weight: bold;
        }
    </style>

    <title>Terms of Uses</title>
</head>
<body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    1. All route fees are calculated on locations basis. If passengers need to add any stop before destination, extra charges apply based on our standard rate.</br>
    2. Please state all extra requirements, including pet transportation and moving of baggage over 6 ft long, clearly when you place an order with us. Otherwise drivers may refuse the hire.</br>
    3. Van passengers can enjoy a total of 15-minute free waiting period for loading and unloading time. Drivers reserve the right to charge $5 for every 5 minutes of overtime or part thereof;</br>
    4. 5.5 Ton Truck passengers can enjoy a total of 30-minute free waiting period for loading and unloading time. Drivers reserve the right to charge $10 for every 5 minutes of overtime or part thereof;</br>
    5. Route fee shall be adjusted based on our standard rate for any change of route;</br>
    6. Passengers must wear seat belts, if available;</br>
    7. No smoking, eating or drinking in the compartment;</br>
    8. Please help keep the vehicle clean and tidy, no littering, vandalism or graffiti;</br>
    9. Passengers will be charged a $200 cleanup fee is they or their pet vomit or make the compartment dirty;</br>
    10. Do not ask for driver to wait at no stopping area or commit offense to any traffic or transportation regulations;</br>
    11. Please note that drivers do not accept HK$1,000 note;</br>
    12. Please take care of and be responsible for your luggage and belongings. Drivers will not be responsible for any loss or damage.</br>
</body>
</html>
  </ion-content>
</ion-view>